{% extends 'base.html' %} {% block content %}
<br />
<h3>Get in touch:</h3>
<br />
<h6>LinkedIn:</h6>
<p>
  <a href="https://www.linkedin.com/in/annazubova/"
    >https://www.linkedin.com/in/annazubova/</a
  >
</p>
<h6>GitHub:</h6>
<p><a href="https://github.com/AnnaLara/">https://github.com/AnnaLara/</a></p>

<h6>DEV.to blog:</h6>
<p><a href="https://dev.to/annalara">https://dev.to/annalara/</a></p>

<h6>Medium blog</h6>
<p><a href="https://medium.com/@anna_6717">https://medium.com/@anna_6717</a></p>

{% endblock %}
