body {
  background-color: white;
}

nav {
  background-color: #0b6374;
}

.btn-primary {
  color: #fff;
  background-color: #599191;
  border-color: #599191;
}

#hero {
  width: 100%;
}

#hero-image {
  width: 100%;
}
